[Unit]
Description=LegionGoGyroDSU
After=network-online.target
Wants=network-online.target

[Service]
Environment=LGDSU_PORT=26760
Environment=LGDSU_IP=127.0.0.1
Type=simple
RestartSec=1
User=root
Restart=on-failure
ExecStart=/LegionGoSGyroDSU/LegionGoGyroDSU
WorkingDirectory=/LegionGoGyroDSU

[Install]
WantedBy=graphical.target
