[Unit]
Description=LegionGoSGyroDSU
[Service]
Environment="LGSDSU_PORT=26760"
Type=simple
RestartSec=1
User=root
ExecStart=/bin/bash /LegionGoSGyroDSU/start.sh
WorkingDirectory=/LegionGoSGyroDSU
[Install]
WantedBy=network-online.target
